{% extends 'modelo-ifpr.html' %}
{% load custom_filters %}
{% load static %}

{% block conteudo %}

<div class="container-fluid py-5 ">
<h1 style="position:absolute;top:70px;">Detalhes do Auto de Infração nº {{ infracao.numero_format_ano }} <a href="javascript:history.back()" class="btn btn-secondary btn-sm mr-2 " >Voltar</a> </h1>
    <br>

<h4 style="position:absolute;top:140px;">Inscrição Imobiliária: {{ infracao.inspecao.terreno.inscricao }}&#160;&#160;&#160;&#160;
    Proprietário: {{ infracao.inspecao.terreno.proprietario.nome_proprietario|capitalize_name }}&#160;&#160;&#160;&#160;Endereço: {{ infracao.inspecao.terreno.logradouro_terreno.tipo|capitalize_name }}
    {{ infracao.inspecao.terreno.logradouro_terreno.nome_logradouro|capitalize_name }}, {{ infracao.inspecao.terreno.numero_terreno }} -
    {{ infracao.inspecao.terreno.logradouro_terreno.bairro.nome_bairro|capitalize_name }}
 </h4>

    <h4 style="position:absolute;top:175px;">Protocolo: {{ infracao.inspecao.protocolo }}&#160;&#160;&#160;&#160;&#160;&#160;&#160;
    Fiscal: {{ infracao.inspecao.fiscal.primeiro_nome|capitalize_name }}    &#160;&#160;&#160;&#160;&#160;&#160;&#160;Data da inspeção:
    {{ infracao.inspecao.data_inspecao1|date:"d/m/Y" }}&#160;&#160;&#160;&#160;&#160;&#160;
    <a href="{% url 'gerar_auto' pk=infracao.pk %}" target="_blank">Auto de Infração</a>&#160;&#160;&#160;
        &#160;&#160;&#160;<a href="{% url 'cadastrar-AR' infracao.pk %}"
    target="_blank">AR individual</a>&#160;&#160;&#160;&#160;&#160;&#160;

    <a href="{% url 'cadastrar-defesa' infracao.pk %}" target="_blank">Defesa individual</a>

    </h4>
    <h4 style="position:absolute;top:210px;">Recebimento da Autuação: {% if infracao.data_entrega_autuacao == None %} Não entregue {% else %} {{ infracao.data_entrega_autuacao|date:"d/m/Y" }} {% endif %}&#160;&#160;&#160;&#160;Protocolo de defesa: {% if infracao.protocolo_defesa == None %} Não defendeu {% else %} {{ infracao.protocolo_defesa }} {% endif %}

    </h4>
    {% if infracao.inspecao.foto_inspecao_1 %}
    <img src='{{ infracao.inspecao.foto_inspecao_1.url }}' style="position:absolute;left:30px;top:270px;height:360px;width:500px" />
    {% else %}{% endif %}
    {% if infracao.foto_inspecao_2 %}
    <img src='{{ infracao.foto_inspecao_2.url }}' style="position:absolute;left:550px;top:270px;height:360px;width:500px" />
    {% else %}{% endif %}

</div>
{% endblock %}