.form-container {
    background-color: #000; /* fundo preto */
    color: #FFF; /* texto branco */
    width: 33.33%; /* isso faz com que o formulário ocupe 1/3 da largura da tela */
    margin: auto; /* isso centraliza o formulário */
    padding: 20px; /* Isso adiciona algum preenchimento ao redor do conteúdo do formulário */
    border-radius: 5px; 
}


.acao-row {
    display: flex;
    padding: 5px 20px;
	gap: 20px;
}

.acao-check {
    flex: 0 0 auto; /* Não cresce, não encolhe, tamanho automático */
}

.acao-label {
    flex: 0 0 30%; /* Não cresce, não encolhe, 40% da largura */
}

.acao-fiscal {
    flex: 0 0 40%; /* Não cresce, não encolhe, 40% da largura */
}

.acao-multiplicador,
.acao-total {
    flex: 0 0 30%; /* Não cresce, não encolhe, 20% da largura */

}


.form-container-3 {
    background-color: #000; /* fundo preto */
    color: #FFF; /* texto branco */
    width: 50%; /* isso faz com que o formulário ocupe 1/3 da largura da tela */
    margin: auto; /* isso centraliza o formulário */
    padding: 20px; /* Isso adiciona algum preenchimento ao redor do conteúdo do formulário */
    border-radius: 5px; 
}
.select2-selection__choice__display {
    font-size: 11px;
    color: #000000;
}

.form-container-2 {
    width: 58%; /* isso faz com que o formulário ocupe 1/3 da largura da tela */
    margin: auto;
}

.center-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center-title {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.empresa-container {
    box-sizing: border-box;
    border: 4px solid #76a2ce;
    padding: 17px;
    background-color: #ffffff;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 10px;
}
.empresa-container p {
    word-break: break-word;

}

.protocolos-container {
    box-sizing: border-box;
    border: 4px solid #76a2ce;
    width: calc(100% - 50%  - 8px); 
    padding: 17px;
    background-color: #ffffff;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-right: 0px;
    
}

#tabela-listar td {
    font-size: 16px; /* Ajuste esse valor conforme necessário */
}

h3{
    font-size: 25px; font-style: bold; 
}
h4{
    font-size: 15px; font-style: bold; font-weight: bold;/* Altere o valor conforme necessário */
}
p{
    font-size: 13px;  /* Altere o valor conforme necessário */
}
.bordered-div {
    width: 100%;
    border: 2px solid #808080; /* Cor da borda em cinza */
    padding: 6px; /* Espaçamento interno para a borda não colar no texto */
    border-radius: 6px; /* Quinas arredondadas */
}

.label-right {
    text-align: right;
}


@media screen and (max-width: 768px) {
    .form-container {
      width: 100%;
    }
  }
  @media screen and (max-width: 768px) {
    .form-container-2 {
      width: 100%;
    }
  }

.field-container {
    display: flex;
    align-items: center;
}

.field-label {
    margin-right: 10px; /* Espaçamento entre label e conteúdo */
}

.field-content {
    flex-grow: 1; /* Permite que o conteúdo ocupe o resto do espaço disponível */
}

.field-label, .field-content {
    border: 1px solid #000; /* Substitua #000 pela cor de borda que desejar */
    padding: 5px; /* Espaçamento interno para a borda não colar no texto */
}


.bg-ifpr {
    background-color: #000;
}

.text-ifpr {
    color: #414242;
}

.border-ifpr {
    border-color: #414242;
}
.bg-ifpr-escuro {
    background-color: #414242;
}

.text-ifpr-escuro {
    color: #414242;
}

.border-ifpr-escuro {
    border-color: #414242;
}


/*
Tamanhos diferentes para fontes
*/
.font-75 {
    font-size: 75%;
}

.font-115 {
    font-size: 115%;
}

.font-125 {
    font-size: 125%;
}

.font-150 {
    font-size: 150%;
}

.font-175 {
    font-size: 175%;
}


/*
Formatação do DataTable
*/
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child::before,
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child::before {
    top: 15px !important;
}


/*
Personalização da Barra de menu pra ficar igual do site
*/
.navbar {
    padding: 0 !important;
}

.navbar .navbar-brand{
    padding-left: 10px;
}

.navbar a.nav-link{
    color: white !important;
}

.navbar .nav-item{
    padding: 3px 5px;
}

.navbar .nav-item:hover{
    background-color: #465042;
}


/*
Alerta na validação dos formulários (login com senha errada, por exemplo)
*/
.alert dl, .alert ol, .alert ul {
    margin-top: 0;
    margin-bottom: 0;
}


/*
Largura máxima das tabelas para não ficar mal formatada
*/

.table {
    table-layout: fixed;
}
.table td {
    word-break: break-word; /*ou word-wrap: break-word;*/
    width: 100px; /*ajuste conforme necessário*/
}

.pesquisa-container {
    justify-content: space-between; /* Isso irá separar os dois itens igualmente */
    padding: 10px; /* Ou o que quer que combine com seu design */
}


/* Isso é para garantir que no mobile eles fiquem um abaixo do outro */
@media screen and (max-width: 768px) {
    .pesquisa-container {
        flex-direction: column;
    }
    .pesquisa-empresa, .pesquisa-protocolo {
        margin-right: 0;
        margin-bottom: 20px; /* Espaço entre os formulários no mobile */
    }
}
