{% extends 'oxigenoterapia/base.html' %}
{% load custom_filters %}

{% block conteudo %}

<h3>Atendimentos realizados</h3>
<form class="form-inline" action="{% url 'consulta_atendimentos' %}" method="get">
    <div class="form-group">
        <label for="q1" class="mr-2">Mês (em número)</label>
        <input type="number" name="month" id="q1" value="{{ mes_pesquisa }}" required class="form-control-sm mr-4">
    </div>
    <div class="form-group">
        <label for="q2" class="mr-2">Ano</label>
        <input type="number" name="year" id="q2" value="{{ ano_pesquisa }}" required class="form-control-sm mr-4">
    </div>
    <div class="form-group">
        <label for="q3" class="mr-2">Fisioterapeuta</label>
        <select name="fisioterapeuta" id="q3" class="form-control-sm mr-4">
            <option value="">TODOS</option>
            {% for fisioterapeuta in fisioterapeutas %}
                <option value="{{ fisioterapeuta.primeiro_nome_fisioterapeuta }}" {% if fisioterapeuta.primeiro_nome_fisioterapeuta == fisioterapeuta_pesquisa %}selected{% endif %}>{{ fisioterapeuta.primeiro_nome_fisioterapeuta }}</option>
            {% endfor %}
        </select>
        

    </div>
    
    <button type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i>
        Pesquisar</button> 
</form>


<br>
<div class="table-container table-responsive">
    <table class="table table-striped" id="tabela-listar" style="font-size: 11px;">
        <thead>
            <tr>
                <th style="text-align: center">TOTAL GERAL DE ATENDIMENTOS</th>
                <th style="text-align: center">{{ total_atendimentos }}</th>
            </tr>
        </thead>

    </table>
</div>
<div class="table-container table-responsive">
    <table class="table table-striped" id="tabela-pacientes" style="font-size: 11px;">
        <thead>
            <tr>
                <th style="text-align: center">PACIENTES</th>
                <th style="text-align: center">TOTAL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="text-align: center">ATIVOS</td>
                <td style="text-align: center">{{ total_ativos }}</td>
            </tr>
            {% if not esconde_ativos_periodo %}
            <tr>
                <td style="text-align: center">ATIVOS NO PERÍODO PESQUISADO</td>
                <td style="text-align: center">{{ total_ativos_periodo }}</td>
            </tr>
            {% endif %}
            <tr>
                <td style="text-align: center">ÓBITO</td>
                <td style="text-align: center">{{ total_obitos_periodo }}</td>
            </tr>
            <tr>
                <td style="text-align: center">ALTA</td>
                <td style="text-align: center">{{ total_altas_periodo }}</td>
            </tr>
        </tbody>
    </table>
</div>


<div class="table-container2 table-responsive">
    <table class="table table-striped" id="tabela-detalhes" style="font-size: 11px;">
        <thead>
            <tr>
                <th style="text-align: center">Data do Atendimento</th>
                <th style="text-align: center">Nome do Paciente</th>
                <th style="text-align: center">Fisioterapeuta</th>
            </tr>
        </thead>
        <tbody>
            {% for detalhe in detalhes_atendimentos %}
                <tr>
                    <td style="text-align: center">{{ detalhe.data_atendimento|date:"d/m/Y" }}</td>
                    <td style="text-align: center">{{ detalhe.prescricao__paciente__nome_paciente|capitalize_name }}</td>
                    <td style="text-align: center">{{ detalhe.fisioterapeuta_atendimento__primeiro_nome_fisioterapeuta|capitalize_name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="text-center mt-4">
    <a href="{% url 'consulta_atendimentos_pdf' %}?{{ request.GET.urlencode }}" target="_blank" class="btn btn-primary">
        <i class="fas fa-file-pdf"></i> Gerar PDF
    </a>

    <a href="javascript:history.back()" class="btn btn-secondary">
        <i class="fas fa-arrow-left"></i>
         Voltar
    </a>
</div>

{% endblock %}


<a href="javascript:history.back()" class="btn btn-secondary btn-sm mr-2 ">Voltar</a>

<!--
    na lista de visita buscar por fisioterapeuta ao inves de usf, ocultar o campo parametros quando for oxigenio e ocultar o Modo de Uso quando for ventilação, acrescentar
    litros e modo de uso no oxigenio na mesma coluna
    colocar a usf e ordenar por ela nas listas
    tirar telefone2, diminuir a fonte


    Na tela de cadastrar atenedimento jogar a troca de filtro e troca de mascara, parametros para parte de ventilação
    colocar o tempo de uso e litros no oxigenoterapia




    
    
    
    
-->