{% extends 'oxigenoterapia/base.html' %}
{% load custom_filters %}

{% block conteudo %}
<div class="table-container"></div>
<h3 class="center-title">Lista para visita oxigenoterapia</h3>

<form class="form-inline" action="{% url 'relatorio_para_visita' %}" method="get">
    <div class="form-group">
        <label for="q3" class="mr-2">Fisioterapeuta</label>
        <select name="fisioterapeuta" id="q3" class="form-control-sm mr-4">
            <option value="">--Escolha um fisioterapeuta--</option>
            {% for fisioterapeuta in fisioterapeutas %}
            <option value="{{ fisioterapeuta.id }}" {% if fisioterapeuta_pesquisa == fisioterapeuta.id %} selected {% endif %}>{{ fisioterapeuta.primeiro_nome_fisioterapeuta }}</option>
            {% endfor %}
        </select>
    </div>
    

    <div class="form-group">
        <label for="q4" class="mr-2">Equipamento</label>
        <select name="equipamento" id="q4" class="form-control-sm mr-4">
            <option value="">--Escolha um equipamento--</option>
            {% for equip in equipamentos %}
                <option value="{{ equip }}" {% if equipamento_pesquisa == equip %} selected {% endif %}>{{ equip }}</option>
            {% endfor %}
        </select>
    </div>

    <input type="hidden" name="busca_submetida" value="true">
    <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-search" aria-hidden="true"></i>
Pesquisar    </button>
</form>

{% if busca_submetida %}
    <div class="table-container table-responsive" style="margin-top: 30px;"></div>
    <table class="table table-striped" id="tabela-pacientes" style="font-size: 15px;">
            <thead>
                <tr>
                    <th>Prontuário</th>
                    <th>Paciente</th>
                    <th>Telefone 1</th>
                    <th>Endereço</th>
                    <th>USF</th>
					<th>Fisioterapeuta</th>
                    <th>CID</th>
                    <th>Equipamento(s)</th>
                    <th>Modo de Uso</th>
                    <th>Litros</th>
                    <th>Parâmetros</th>
                </tr>
            </thead>
            <tbody>
                {% for paciente, modos_uso in modos_uso_por_paciente.items %}
                <tr>
                    <td>{{ paciente.prontuario_paciente }}</td>
                    <td>{{ paciente.nome_paciente|capitalize_name }}</td>
                    <td>{% if paciente.telefone_paciente1 %}{{ paciente.telefone_paciente1 }}{% endif %}</td>
                    <td>{{ paciente.logradouro_paciente.tipo|capitalize_name }} {{ paciente.logradouro_paciente.nome_logradouro|capitalize_name }}, {{ paciente.numero_paciente }} {% if paciente.complemento_paciente %} {{ paciente.complemento_paciente|capitalize_name }} {% endif %}- {{ paciente.logradouro_paciente.bairro.nome_bairro|capitalize_name }}</td>
                    <td>{{ paciente.usf_paciente.nome_fantasia_usf|capitalize_name }}</td>
                    <td>{{ paciente.usf_paciente.nome_fisioterapeuta.primeiro_nome_fisioterapeuta|capitalize_name }}</td>
                    {% with modos_uso|last as modo %}
                        <td>{{ modo.cid.codigo_doenca }}</td>
                        <td>
                            {% for equip in modo.equipamento.all %}
                                {{ equip.nome_equipamento }}
                                {% if not forloop.last %}, {% endif %}
                            {% empty %}
                                Nenhum
                            {% endfor %}
                        </td>
                        <td>{% if modo.tempo_de_uso %}{{ modo.tempo_de_uso }}{% else %}{% endif %}</td>
                        <td>{% if modo.litros %}{{ modo.litros }}{% else %}{% endif %}</td>
                        <td>{% if modo.parametros %}{{ modo.parametros }}{% else %}{% endif %}</td>
                    {% endwith %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        <div class="text-center mt-4">
            <a href="{% url 'relatorio_para_visita_pdf' %}?{{ request.GET.urlencode }}" target="_blank" class="btn btn-primary">
                <i class="fas fa-file-pdf"></i> Gerar PDF
            </a>
        </div>
{% else %}
    <!-- Aqui você pode colocar alguma mensagem indicando que a tabela só será exibida após a busca. -->
{% endif %}

{% endblock %}
