{% extends 'oxigenoterapia/base.html' %}
{% load custom_filters %}

{% block conteudo %}
<h3>USF's</h3>

<div align="right">
    <h3>
        <a href="{% url 'usf_new' %}" class="btn btn-primary btn-sm">Novo descartável</a>
    </h3>
</div>

<div class="table responsive">
    <table class="table table-striped" id="tabela-listar" style="font-size: 11px;">
        <thead>
            <tr>
                <th style="text-align: center">Nome Fantasia</th>
                <th style="text-align: center">Nome Real</th>
                <th style="text-align: center">Fisioterapeuta responsável</th>
                <th style="text-align: center">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for usf in object_list %}
                <tr>
                    <td style="text-align: center">{{ usf.nome_fantasia_usf }}</td>
                    <td style="text-align: center">{{ usf.nome_real }}</td>
                    <td style="text-align: center">{{ usf.nome_fisioterapeuta.primeiro_nome_fisioterapeuta|capitalize_name }}</td>
                    <td style="text-align: center">
                        <a href="{% url 'usf_edit' usf.id %}" class="btn btn-warning" title="Editar" style="font-size: 11px; padding: 1px 4px; margin-right: 3px; text-align: center">Editar</a>
                        <a href="{% url 'usf_delete' usf.id %}" class="btn btn-danger" title="Excluir" style="font-size: 11px; padding: 1px 4px;">Deletar</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5" style="text-align: center">Nenhum descartavel registrado.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function(){
        $("#tabela-listar").DataTable({
            responsive: true,
            "aaSorting": [],
            "pageLength": 50,
            "language": {
                "decimal": "",
                "emptyTable": "Sem dados disponíveis",
                "info": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "infoEmpty": "Mostrando de 0 até 0 de 0 registros",
                "infoFiltered": "(filtrado de _MAX_ registros no total)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ registros",
                "loadingRecords": "A carregar dados...",
                "processing": "A processar...",
                "search": "Procurar:",
                "zeroRecords": "Não foram encontrados resultados",
                "paginate": {
                    "first": "Primeiro",
                    "last": "Último",
                    "next": "Próximo",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": activar para ordenar a coluna de forma ascendente",
                    "sortDescending": ": activar para ordenar a coluna de forma descendente"
                }
            }
        });
    });
</script>
{% endblock %}
