{% extends 'basy.html' %}
{% load static %}
{% load custom_filters %}
{% block styles %}

    
<style type="text/css">
    .container-fluid.py-5 {
     padding-top:1rem!important;
    }

    .risco-5 {
    background-color: yellow;
    /* demais estilos necessários */
}

.risco-4 {
    background-color: pink;
    /* demais estilos necessários */
}

.risco-3 {
    background-color: rgb(35, 172, 35);
    /* demais estilos necessários */
}

.risco-2,
.risco-1 {
    background-color: white;
    /* demais estilos necessários */
}
    </style>
   {% endblock %} 

    <!-- Bloco de conteúdo -->
{% block conteudo %}
<div class="container-centralizado" style="display: flex; flex-wrap: wrap; justify-content: space-between;">
    <div style="width: 50%;">
        <div class="empresa-container">
            <h3>Dados da empresa <a href="{% url 'editar_empresa' empresa.id %}"><i class="fas fa-pencil-alt"></i></a></h3><br>
            <div class="row">
				<div class="col-lg-6 ">
					<h4>Razão Social/Nome</h4>
					<p >{{ empresa.razao }}</p>
				</div>
				<div class="col-lg-6 ">
					<h4>Nome Fantasia</h4>
                    <p>
                        {% if empresa.nome_fantasia %}
                            {{ empresa.nome_fantasia }}
                        {% else %}
                            ********
                        {% endif %}
                    </p>
				</div>
			</div>
            <div class="row">
				<div class="col-lg-1 ">
					<h4>MEI</h4>
                    
                    <p>
                        {% if empresa.mei %}
                        <i class="fa-solid fa-circle-check" style="color: blue; font-size: 22px;"></i>
                        {% else %}
                        <i class="fa-solid fa-circle-xmark" style="color: red; font-size: 30px;"></i>
                        {% endif %}
                    </p>
                    <!-- <input type="checkbox" disabled {% if empresa.mei %}checked{% endif %}>  -->
					
				</div>
				<div class="col-lg-2 ">
					<h4>CNPJ</h4>
                    <p>
                        {% if empresa.cnpj %}
                            {{ empresa.cnpj }}
                        {% else %}
                            ********
                        {% endif %}
                    </p>
				</div>
                <div class="col-lg-2 ">
					<h4>Telefone</h4>
                    <p>
                        {% if empresa.telefone1 %}
                            {{ empresa.telefone1 }}
                        {% else %}
                            ********
                        {% endif %}
                    </p>
				</div>
                <div class="col-lg-2 ">
					<h4>Telefone 2</h4>
                    <p>
                        {% if empresa.telefone2 %}
                            {{ empresa.telefone2 }}
                        {% else %}
                            ********
                        {% endif %}
                    </p>
				</div>
                <div class="col-lg-3 ">
					<h4>Email</h4>
                    <p style="word-break: break-all;">
                        {% if empresa.email %}
                            {{ empresa.email }}
                        {% else %}
                            ********
                        {% endif %}
                    </p>
				</div>
                <div class="col-lg-2 ">
					<h4>Alvará</h4>
                    <p>
                        {% if empresa.alvara %}

                        
                        <a href="{% url 'gerar_alvara' empresa.id %}" target="_blank">{{ empresa.alvara|date:"d/m/Y" }}</a>
                        {% else %}
                            ********
                        {% endif %}
                    </p>
				</div>
			</div>
            <div class="row">
				<div class="col-lg-5 ">
					<h4>Endereço</h4>
					<p >{{ empresa.logradouro_empresa.tipo|capitalize_name }} {{ empresa.logradouro_empresa.nome_logradouro|capitalize_name }}, {{ empresa.numero_empresa }}{% if empresa.complemento_empresa %} - {{ empresa.complemento_empresa }}{% else %}{% endif %} - {{ empresa.logradouro_empresa.bairro.nome_bairro|capitalize_name }}</p>
				</div>
                <div class="col-lg-2 ">
					<h4>Status</h4>
                    <p> {% if empresa.status_funcionamento == "ATIVA" %}
                            <i class="fa fa-flag" aria-hidden="true" style="color: green; font-size: 24px;"></i>
                        {% elif empresa.status_funcionamento == "BAIXADA" %}
                            <i class="fa fa-flag" aria-hidden="true" style="color: red; font-size: 24px;"></i>
                        {% elif empresa.status_funcionamento == "DISPENSADA" %}
                            <i class="fa fa-flag" aria-hidden="true" style="color: orchid; font-size: 24px;"></i>
                        {% else %}
                            Indefinido
                        {% endif %}    
                    </p>    
				</div>
				<div class="col-lg-3 ">
                    <h4>Risco empresa</h4>
                    <p><span class="risco-{{ empresa.risco_empresa.valor_risco }}">{{ empresa.risco_empresa.risco }}</span></p>
                </div>
                
                <div class="col-lg-2">
                    <h4>Vigi-risco</h4>
                    <p>
                        {% if inspecao_mais_recente %}
                            {{ inspecao_mais_recente.data_inspecao|date:"d/m/Y" }}
                        {% else %}
                            ********
                        {% endif %}
                    </p>         
                </div>
                
                
			</div>
            <div class="row">
                <div class="col-lg-12 ">
                    <h4>CNAE(s)</h4>
                    <p ><strong>{{ empresa.cnae_principal.codigo_cnae }} - {{ empresa.cnae_principal.descricao_cnae }}</strong>{% if cnaes_ordenados %};{% else %}{% endif %}{% for cnae in cnaes_ordenados %}
                        {{ cnae.codigo_cnae }} -  {{ cnae.descricao_cnae }}{% if not forloop.last %}; {% endif %}
                    {% endfor %}</p>
                </div>
            </div>
            
            <div class="row">
				<div class="col-lg-7 ">
					<h4>Responsável Legal</h4>
					<p >{% if empresa.responsavel_legal %}{{ empresa.responsavel_legal|capitalize_name }}{% else %}********{% endif %}</p>
				</div>
                <div class="col-lg-2 ">
					<h4>CPF</h4>
                    <p>
                        {% if empresa.cpf_responsavel_legal %}
                            {{ empresa.cpf_responsavel_legal }}
                        {% else %}
                            ********
                        {% endif %}
                    </p>
            </div>
                <div class="col-lg-3 ">
					<h4>RG</h4>
                    <p>
                        {% if empresa.rg_responsavel_legal %}
                            {{ empresa.rg_responsavel_legal }}
                        {% else %}
                            ********
                        {% endif %}
                    </p>
				</div>
			</div>
            <div class="row">
				<div class="col-lg-7 ">
					<h4>Responsável Técnico</h4>
					<p >{% if empresa.responsavel_tecnico %}{{ empresa.responsavel_tecnico|capitalize_name }}{% else %}********{% endif %}</p>
				</div>
                <div class="col-lg-2 ">
					<h4>CPF</h4>
                    <p>
                        {% if empresa.cpf_responsavel_tecnico %}
                            {{ empresa.cpf_responsavel_tecnico }}
                        {% else %}
                            ********
                        {% endif %}
                    </p>
            </div>
                <div class="col-lg-3 ">
					<h4>Conselho</h4>
                    <p>
                        {% if empresa.conselho_responsavel_tecnico %}
                            {{ empresa.conselho_responsavel_tecnico }}
                        {% else %}
                            ********
                        {% endif %}
                    </p>
				</div>
			</div>
            <div class="row">
				<div class="col-lg-9 ">
					<h4>Observações <a href="{% url 'editar_observacoes' empresa.id %}"><i class="fas fa-pencil-alt"></i></a></h4>
					<p>{% if empresa.observacoes %}
                            {{ empresa.observacoes }}
                        {% else %}
                            ********
                        {% endif %}</p>
				</div>

                <div class="col-lg-3 ">
					<h4>Contabilidade</h4>
					<p>{{ empresa.contabilidade.nome_contabilidade|capitalize_name }}</p>
				</div>
			</div>
    
    
        </div>
        </div>
        <div class="protocolos-container">
            <h3>Protocolos <a href="{% url 'novo_protocolo' %}"><i class="fas fa-plus"></i></a></h3><br>
            <table class="table table-striped">
                <thead>
                    <tr style="font-size: 11px;">
                        <th style="text-align: center">Número</th>
                        <th style="text-align: center">Abertura</th>
                        <th style="text-align: center">Motivo</th>
                        <th style="text-align: center">Fiscal</th>
                        <th style="text-align: center">Data fiscal</th>
                        <th style="text-align: center">Inspeção</th>
                        <th style="text-align: center">Status</th>
                        <th style="text-align: center">Encerramento</th>
                        
                        <th style="text-align: center">Editar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for protocolo in protocolos %}
                        <tr style="font-size: 11px;">
                            <td class="text-center" style="vertical-align:middle;">{{ protocolo.numero_protocolo }}</td>
                            <td class="text-center" style="vertical-align:middle;">{{ protocolo.entrada_protocolo|date:"d/m/Y" }}</td>
                            <td class="text-center" style="vertical-align:middle;">
				{% if protocolo.motivo == "1"%}
				Alvará Sanitário Inicial
				{% elif protocolo.motivo == "2"%}
				Renovação do alvará
				{% elif protocolo.motivo == "3"%}
				Verificação de risco - a pedido
				{% elif protocolo.motivo == "4"%}
				Verificação de risco  - busca ativa
				{% elif protocolo.motivo == "5"%}
				Denúncia
				{% elif protocolo.motivo == "6"%}
				Requisição de outros órgãos
				{% elif protocolo.motivo == "7"%}
				Inutilização de produtos
				{% elif protocolo.motivo == "8"%}
				Reinspeção a pedido
				{% elif protocolo.motivo == "9"%}
				Reinspeção expontânea
				{% elif protocolo.motivo == "10"%}
				Busca ativa - sem alvará
				{% elif protocolo.motivo == "11"%}
				Assinatura de livro de ótica
				{% elif protocolo.motivo == "12"%}
				Assinatura de livro de psicotrópicos
				{% elif protocolo.motivo == "13"%}
				Entrega de balanços/notificações de receita
				{% elif protocolo.motivo == "14"%}
				Autorização de eventos
				{% elif protocolo.motivo == "15"%}
				Autorização de ambulantes
				{% elif protocolo.motivo == "17"%}
				Certidão de dispensa
				{% elif protocolo.motivo == "18"%}
				Entrega de documentos
				{% elif protocolo.motivo == "19"%}
				Alteração de dados
                {% elif protocolo.motivo == "20"%}
				Orientações
				{% elif protocolo.motivo == "16"%}
				Outros assuntos
				{% else %}
				Indefinido
				{% endif %}</td>
                <td class="text-center" style="vertical-align:middle;">{{ protocolo.fiscal_responsavel.primeiro_nome|capitalize_name }}</td>
                <td class="text-center" style="vertical-align:middle;">{{ protocolo.entrada_fiscal|date:"d/m/Y" }}</td>
                <td class="text-center" style="vertical-align:middle;">
                                {% if protocolo.inspecao %}
                                 {{ protocolo.inspecao.data_inspecao|date:"d/m/Y" }} <a href="{% url 'alterar_inspecao' protocolo.inspecao.id %}"><i class="fas fa-pencil-alt"></i></a>
                                {% else %}
                                <a href="{% url 'cadastrar_inspecao' protocolo.id %}"><i class="fas fa-plus"></i></a>

                                {% endif %}
                            </td>
                            <td class="text-center" style="vertical-align:middle;">{% if protocolo.status_protocolo == "1"%}
				Aguardando escolha/entrega de fiscal (Administrativo)
				{% elif protocolo.status_protocolo == "2"%}
				Aguardando realização de inspeção/ emissão de relatório (Fiscal)
				{% elif protocolo.status_protocolo == "3"%}
				Aguardando avaliação/ revisão (Coordenação)
				{% elif protocolo.status_protocolo == "4"%}
				Protocolo finalizado
				{% else %}
				Indefinido
				{% endif %}</td>
                <td class="text-center" style="vertical-align:middle;">{{ protocolo.encerramento_protocolo|date:"d/m/Y" }}</td>
                                                       
                <td class="text-center" style="vertical-align:middle;"><a href="{% url 'editar_protocolo' protocolo.id %}"><i class="fas fa-pencil-alt"></i></a></td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="9" style="text-align: center">Nenhum protocolo encontrado para esta empresa.</td>
                        </tr>
                    {% endfor %}
                        
                   
                </tbody>
            </table>
            

        </div>
</div>

        {% endblock %}
    
                   

