{% extends 'basy.html' %}

{% load static %}

{% load crispy_forms_tags %}


{% block conteudo %}
<div class="form-container">
    <h3 class="text-center"> {{ titulo }}</h3>
<hr>
<form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    {% for acao in acoes %}
    <label for="acao-{{ acao.id }}">{{ acao }}</label>
    <input type="checkbox" id="acao-{{ acao.id }}" name="acoes" value="{{ acao.id }}" {% if acao.id in produtividade_acoes_ids %}checked{% endif %}>

    <label for="multiplicador-{{ acao.id }}">Multiplicador</label>
    <input type="number" id="multiplicador-{{ acao.id }}" name="multiplicadores" step="0.1">
    {% endfor %}
    <br>

    <button type="submit" class="btn btn-primary center-button">
        {{ botao }}
    </button>

</form>

</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/jquery.mask.min.js' %}"></script>
<script>
    

$(document).ready(function() {
    $('#id_cnae').change(function() {
        var selectedCnaes = $(this).val();
        if (selectedCnaes) {
            // Criamos uma string de parâmetros manualmente
            var dataString = '';
            for (var i = 0; i < selectedCnaes.length; i++) {
                dataString += 'cnaes=' + selectedCnaes[i] + '&';
            }
            
            dataString = dataString.slice(0, -1);

            $.ajax({
                url: '/api/get_risco/?' + dataString,
                success: function(data) {
                    $('#id_risco_empresa').val(data.risco).change();  
                }
            });

            
        }
    });

    $('#id_risco_empresa').change(function() {
        var selectedRisco = $(this).val();
        // Verifique se o risco selecionado é 1 ou 2
        if (selectedRisco == "1" || selectedRisco == "2") {
            // Se for, ajuste o status de funcionamento para 'DISPENSADA'
            $('#id_status_funcionamento').val('DISPENSADA');
        }

        else {
            $('#id_status_funcionamento').val('');
        }
    });
});

    $(document).ready(function(){
        $("#id_cep").mask("00.000-000");
        $("#id_cnpj").mask("00.000.000/0000-00");
        $("#id_codigo").mask("0000-0/00");
        $('#id_alvara').mask("00/00/0000");
        $('#id_entrada_protocolo').mask("00/00/0000");
        $('#id_entrada_fiscal').mask("00/00/0000");
        $('#id_data_inspecao').mask("00/00/0000");
        $('#id_data_relatorio').mask("00/00/0000");
        $('#id_encerramento_protocolo').mask("00/00/0000");
		$('#id_cpf_responsavel_legal').mask("000.000.000-00");
		$('#id_numero_protocolo').mask("SSS-00000/00");
        $('#id_numero_protocolo').on('input', function() {
            var input = $(this);
            var val = input.val();
            var uppercaseVal = val.toUpperCase();
            input.val(uppercaseVal);
        });

		$('#id_cnae').select2();
        $('#id_tipo').select2();
        $('#id_empresa').select2();
        $('#id_protocolo').select2();
        $('#id_forma_de_recebimento').select2();
        $('#id_motivo').select2();
        $('#id_bairro').select2();
        $('#id_logradouro_empresa').select2();
        $('#id_logradouro_terreno').select2();
        $('#id_logradouro_correspondencia').select2();
        $('#id_proprietario').select2();
        $('#id_tipo_de_imovel').select2();
        $('#id_solicitante_protocolo').select2();
        $('#id_logradouro').select2();
        $('#id_status_protocolo').select2();
        $('#id_infracao').select2();
        $('#id_fiscal').select2();
        $('#id_terreno').select2();
        $('#id_inspecao').select2();
    });

    var behavior = function (val) {
    return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
    },
    options = {
        onKeyPress: function (val, e, field, options) {
            field.mask(behavior.apply({}, arguments), options);
        }
    };
    $('#id_telefone1_contabilidade').mask(behavior, options);
    $('#id_telefone2_contabilidade').mask(behavior, options);
    $('#id_telefone').mask(behavior, options);
    $('#id_telefone1').mask(behavior, options);
    $('#id_telefone2').mask(behavior, options);


    $(document).ready(function() {
    $('#id_razao').on('keyup', function() {
        var textoSemAcentos = $(this).val().toUpperCase().normalize('NFD').replace(/[\u0300-\u036f]/g, '').replace(/[^a-z0-9 -]/gi, '');
        $(this).val(textoSemAcentos);
    });
});

$(document).ready(function() {
    $('#id_nome_fantasia').on('keyup', function() {
        var textoSemAcentos = $(this).val().toUpperCase().normalize('NFD').replace(/[\u0300-\u036f]/g, '').replace(/[^a-z0-9 -]/gi, '');
        $(this).val(textoSemAcentos);
    });
});


    $(document).ready(function() {
        $('#id_responsavel_legal').on('keyup', function() {
        var textoSemAcentos = $(this).val().toUpperCase().normalize('NFD').replace(/[\u0300-\u036f]/g, '').replace(/[^a-z0-9 ]/gi, '');
        $(this).val(textoSemAcentos);
        });
    });

    $(document).ready(function() {
        $('#id_descricao').on('keyup', function() {
        var textoSemAcentos = $(this).val().toUpperCase().normalize('NFD').replace(/[\u0300-\u036f]/g, '').replace(/[^a-z0-9 ]/gi, '');
        $(this).val(textoSemAcentos);
        });
    });


    $(document).ready(function() {
  $('#id_email_contabilidade').on('keyup', function() {
    var textoSemAcentos = $(this).val().toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, '').replace(/[^a-z0-9@._-]/gi, '');
    $(this).val(textoSemAcentos);
  });
});
$(document).ready(function() {
  $('#id_email').on('keyup', function() {
    var textoSemAcentos = $(this).val().toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, '').replace(/[^a-z0-9@._-]/gi, '');
    $(this).val(textoSemAcentos);
  });
});

</script>
{% endblock %}
