{% extends 'basy.html' %}

{% load static %}
{% load custom_filters %}
{% load crispy_forms_tags %}
{% load zip %}
{% load form_field %}

{% block conteudo %}
<div class="form-container-3">
    <h3 class="text-center"> {{ titulo }}</h3>
<hr>
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    {% for acao_form in acao_formset %}
    {{ acao_form|crispy }}
{% endfor %}

{% for fiscal_form in fiscal_formset %}
    {{ fiscal_form|crispy }}
{% endfor %}
    <button type="submit">Salvar</button>
  </form>

</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/jquery.mask.min.js' %}"></script>
<script>
    

    $(document).ready(function() {
    $('.form-check-input').change(function() {
        var acaoId = $(this).val();
        var multiplicadorField = $('#multiplicador-' + acaoId);
        var totalmultiplicadoField = $('#totalmultiplicado-' + acaoId);

        if($(this).is(':checked')) {
            multiplicadorField.val(1);

            // Aqui você já tem o código para fazer a requisição AJAX
            // e atualizar o campo totalmultiplicado-{{ acao.id }}.
        } else {
            multiplicadorField.val('');
            totalmultiplicadoField.val('');
            totalmultiplicadoField.trigger('change');
        }
    });
    // ...
});

$(document).ready(function() {
    $('.form-check-input').change(function() {
        var acaoId = $(this).val();
        var multiplicadorField = $('#multiplicador-' + acaoId);
        var totalmultiplicadoField = $('#totalmultiplicado-' + acaoId);

        if($(this).is(':checked')) {
            multiplicadorField.val(1);

            // Realiza a solicitação AJAX para buscar o valor dos pontos
            $.ajax({
                url: '/get_pontos/',
                data: {
                    'acao_id': acaoId
                },
                dataType: 'json',
                success: function(data) {
                    var pontos = parseFloat(data.pontos);
                    var multiplicador = parseFloat(multiplicadorField.val());
                    var total = pontos * multiplicador;
                    totalmultiplicadoField.val(total.toFixed(1));
                    multiplicadorField.data('pontos', pontos);
                    totalmultiplicadoField.trigger('change');
                }
            });
        } else {
            multiplicadorField.val('');
            totalmultiplicadoField.val('');
            totalmultiplicadoField.trigger('change');
        }
    });

    // Adicionando evento de mudança ao campo multiplicador
    $('.multiplicador-field').change(function() {
        var acaoId = $(this).attr('id').split('-')[1];
        var totalmultiplicadoField = $('#totalmultiplicado-' + acaoId);
        var pontos = $(this).data('pontos'); // Obtemos o valor dos pontos do campo do multiplicador.
        var multiplicador = parseFloat($(this).val());

        if (multiplicador) {
            var total = pontos * multiplicador;
            totalmultiplicadoField.val(total.toFixed(1));
            totalmultiplicadoField.trigger('change');
        } else {
            totalmultiplicadoField.val('');
            totalmultiplicadoField.trigger('change');
        }
    });

    // Quando qualquer campo 'totalmultiplicado' é alterado, atualiza o total.
    $('.totalmultiplicado').on('change', function() {
        var total = 0;
        // Passa por todos os campos 'totalmultiplicado' e soma os valores.
        $('.totalmultiplicado').each(function() {
            total += Number($(this).val()) || 0; // Se o campo estiver vazio, considera como 0.
        });
        // Atualiza o campo total.
        $('#id_total').val(total.toFixed(1)); // Supõe que 'id_total' é o id do campo total.
    });

    $('.multiplicador-field').each(function() {
        $(this).on('input', function(e) {
            const allowedValues = [0.5, 1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5, 5.5, 6, 6.5, 7, 7.5, 8, 8.5, 9, 9.5];
            if (!allowedValues.includes(parseFloat(e.target.value))) {
                e.target.value = '';
            }
        });
    });

    $('#id_data_saida_fiscal').mask("00/00/0000");
    $('#id_mes_produtividade').mask("00/00/0000");
    $('#id_encerramento_protocolo').mask("00/00/0000");


    $('#id_inspecao').select2();
});


   

    // Quando qualquer campo 'totalmultiplicado' é alterado, atualiza o total.
    $('.totalmultiplicado').on('change', function() {
        var total = 0;
        // Passa por todos os campos 'totalmultiplicado' e soma os valores.
        $('.totalmultiplicado').each(function() {
            total += Number($(this).val()) || 0; // Se o campo estiver vazio, considera como 0.
        });
        // Atualiza o campo total.
        $('#id_total').val(total.toFixed(1)); // Supõe que 'id_total' é o id do campo total.
    });

    $('.multiplicador-field').each(function() {
        $(this).on('input', function(e) {
            const allowedValues = [0.5, 1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5, 5.5, 6, 6.5, 7, 7.5, 8, 8.5, 9, 9.5];
            if (!allowedValues.includes(parseFloat(e.target.value))) {
                e.target.value = '';
            }
        });
    });

</script>
{% endblock %}
