{% extends 'basy.html' %}
{% load static %}

{% block conteudo %}
<h3>Lista de Inspeções</h3>
<div class="table-responsive">
<table class="table table-striped" id="tabela-listar">
	<thead>
    <tr>
		<th>Protocolo</th>
		<th>Empresa</th>
        <th>Data inspeção</th>
        <th>Data relatório</th>
        <th>Ações</th>
        <!-- E assim por diante para todos os campos que você quer mostrar -->
    </tr>
	</thead>
      <tbody>
    {% for inspecao in inspecoes %}
    <tr>
        <td>{{ inspecao.protocolo.numero_protocolo }}</td>
        <td>{{ inspecao.protocolo.empresa }}</td>
		<td>{% if inspecao.data_inspecao %}{{ inspecao.data_inspecao|date:"d/m/Y" }}{% else %}*******{% endif %}</td>
		<td>{% if inspecao.data_relatorio %}{{ inspecao.data_relatorio|date:"d/m/Y" }}{% else %}*******{% endif %}</td>
        <!-- E assim por diante para todos os campos que você quer mostrar -->
        <td>
            <a href="{% url 'alterar_inspecao' inspecao.id %}">Editar</a>
            <a href="{% url 'excluir_inspecao' inspecao.id %}">Excluir</a>
            <a class="btn btn-primary" title="Editar" style="font-size: 11px; padding: 1px 4px; margin-right: 3px; text-align: center" href="{% url 'create_produtividade' inspecao.id %}">Criar Produtividade</a>
        </td>
    </tr>
    {% endfor %}
	</tbody>
</table>
</div>
{% endblock %}
{% block scripts %}
<script>


    $(document).ready(function(){

        $("#tabela-listar").DataTable({
            responsive: true,
            // "bSort": false,
            "aaSorting": [],
            "pageLength": 50,
            "language": {
                "decimal": "",
                "emptyTable": "Sem dados disponíveis",
                "info": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "infoEmpty": "Mostrando de 0 até 0 de 0 registros",
                "infoFiltered": "(filtrado de _MAX_ registros no total)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ registros",
                "loadingRecords": "A carregar dados...",
                "processing": "A processar...",
                "search": "Procurar:",
                "zeroRecords": "Não foram encontrados resultados",
                "paginate": {
                    "first": "Primeiro",
                    "last": "Último",
                    "next": "Seguinte",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": ordem crescente",
                    "sortDescending": ": ordem decrescente"
                }
            }
        });

    });

</script>

{% endblock %}

