{% extends 'basy.html' %}

{% load static %}
{% load custom_filters %}
{% block conteudo %}

{% if total_registros %}
<h4>Pesquisa por CNAE - Total de registros: {{ total_registros }}</h4>
{% else %}
<h4>Pesquisa por CNAE</h4>
{% endif %}
<form class="form-inline" action="{% url 'lista_empresas_cnae' %}" method="get">
    <div class="form-group">
        <input type="text" name="q" id="q" value="{{ request.GET.q }}" class="form-control-sm mr-4">
    </div>

    <button type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i>
        Pesquisar</button>
</form>

<br>

<div class="table responsive">
<table class="table table-striped table-hover table-condensed" id="tabela-listar">
    <thead>
    <tr>
        <th style="font-size:11px" class="text-center">Razão Social/Nome</th>
        <th style="font-size:11px" class="text-center">Fantasia</th>
        <th style="font-size:11px" class="text-center">Endereço</th>
        <th style="font-size:11px" class="text-center">Telefone</th>
        <th style="font-size:11px" class="text-center">Cnae principal VISA</th>
    </tr>
    </thead>
    <tbody>
    {% for empresa in empresas %}
    <tr>
        <td style="font-size:10px" class="text-center">{{ empresa.razao|capitalize_name }}</td>
        <td style="font-size:10px" class="text-center">{% if empresa.nome_fantasia%}{{ empresa.nome_fantasia|capitalize_name }}{% else %}********{% endif %}</td>
        <td style="font-size:10px" class="text-center">{{ empresa.logradouro_empresa.tipo|capitalize_name }} {{ empresa.logradouro_empresa.nome_logradouro|capitalize_name }}, {{ empresa.numero_empresa }}{% if empresa.complemento_empresa %} - {{ empresa.complemento_empresa }}{% else %}{% endif %} - {{ empresa.logradouro_empresa.bairro.nome_bairro|capitalize_name }}</td>
        <td style="font-size:10px" class="text-center">{% if empresa.telefone1 %}
            {{ empresa.telefone1 }}
        {% else %}
            ********
        {% endif %}</td>
        <td style="font-size:10px" class="text-center">
            {{ empresa.cnae_principal }}
        </td>
    </tr>
    {% empty %}
        <tr>
            <td colspan="5">Pesquise algum termo</td>
        </tr>
    {% endfor %}
</tbody>
</table>
</div>

{% endblock %}


{% block scripts %}
<script>


    $(document).ready(function(){

        $("#tabela-listar").DataTable({
            responsive: true,
            // "bSort": false,
            "aaSorting": [],
            "pageLength": 99999,
            "language": {
                "decimal": "",
                "emptyTable": "Sem dados disponíveis",
                "info": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "infoEmpty": "Mostrando de 0 até 0 de 0 registros",
                "infoFiltered": "(filtrado de _MAX_ registros no total)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ registros",
                "loadingRecords": "A carregar dados...",
                "processing": "A processar...",
                "search": "Procurar:",
                "zeroRecords": "Não foram encontrados resultados",
                "paginate": {
                    "first": "Primeiro",
                    "last": "Último",
                    "next": "Seguinte",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": ordem crescente",
                    "sortDescending": ": ordem decrescente"
                }
            }
        });

    });

</script>

{% endblock %}

