{% extends 'basy.html' %}
{% load static %}
{% load custom_filters %}

{% block conteudo %}
<h3>Empresas com CNAE de Nível de Risco I (Ativas) e Risco II (Dispensadas)  - Total de empresas: {{ total_empresas }}</h3>
<hr>
<div class="table responsive">
    <table class="table table-striped" id="tabela-listar">
        <thead>
        <tr>
            <th>Razão Social</th>
            <th>Status</th>
            <th>CNAE</th>
            <th>Risco</th>
            <th style="text-align:center">Editar</th>
        </tr>
        </thead>

        <tbody>
        {% for empresa in empresas %}
        <tr>
            <td>{{ empresa.razao|capitalize_name }}</td>
            <td>{{ empresa.status_funcionamento }}</td>
            <td>{{ empresa.cnae_principal.codigo_cnae }} - {{ empresa.cnae_principal.descricao_cnae|capitalize_name }}</td>
            <td>{{ empresa.cnae_principal.risco_cnae }}</td>
            <td style="text-align:center; width: 170px">
                <a class="btn btn-primary" title="Detalhe" style="font-size: 11px; padding: 1px 4px; margin-right: 3px; text-align: center" href="{% url 'detalhe_empresa' empresa.id %}">Detalhes</a>
                <a class="btn btn-warning" title="Editar" style="font-size: 11px; padding: 1px 4px; margin-right: 3px; text-align: center" href="{% url 'editar_empresa' empresa.id %}">Editar</a>
                <a class="btn btn-danger" title="Excluir" style="font-size: 11px; padding: 1px 4px; margin-right: 3px; text-align: center" href="{% url 'excluir_empresa' empresa.id %}">Excluir</a>
    
            </td>
        </tr>
        {% empty %}
            <tr>
                <td colspan="5">Nenhuma empresa encontrada.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}