{% extends 'basy.html' %}

{% load static %}

{% block conteudo %}
<h3>Produtividade

</h3>
<hr>
<div class="table responsive">
<table class="table table-striped" id="tabela-listar">
	<thead>
	<tr>
        <th>Protocolo</th>
        <th>Empresa</th>
        <th>Ação</th>
        <th>Códigos</th>
        <th>Pontos</th>
        <th>Ações</th>
    </tr>
	</thead>
	<tbody>
    {% for produtividade in produtividades %}
    <tr>
    <td>{{ produtividade.protocolo.numero_protocolo }}</td>
    <td>{{ produtividade.protocolo.empresa.razao }}</td>
    <td>{{ produtividade.protocolo.motivo }}</td>
    <td>
        {% for rel in produtividade.acaoprodutividaderel_set.all %}
            {{ rel.acao.codigo_produtividade }}{% if rel.multiplicador != 1 %}*{{ rel.multiplicador }}{% endif %}
            {% if not forloop.last %} + {% endif %}
        {% endfor %}
    </td>
    
    <td>{{ produtividade.total}}</td>
 



    <td style="text-align: center">
        <a href="{% url 'editar_produtividade' produtividade.id %}" class="btn btn-warning" title="Editar" style="font-size: 11px; padding: 1px 4px; margin-right: 3px; text-align: center">Editar</a>
        <a href="{% url 'excluir_produtividade' produtividade.id %}" class="btn btn-danger" title="Excluir" style="font-size: 11px; padding: 1px 4px;">Deletar</a>

    </td>
        
    </tr>
    {% empty %}
        <tr>
            <td colspan="6">Nenhum campo registrado.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

</div>
{% endblock %}
{% block scripts %}
<script>


    $(document).ready(function(){

        $("#tabela-listar").DataTable({
            responsive: true,
            // "bSort": false,
            "aaSorting": [],
            "pageLength": 50,
            "language": {
                "decimal": "",
                "emptyTable": "Sem dados disponíveis",
                "info": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "infoEmpty": "Mostrando de 0 até 0 de 0 registros",
                "infoFiltered": "(filtrado de _MAX_ registros no total)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ registros",
                "loadingRecords": "A carregar dados...",
                "processing": "A processar...",
                "search": "Procurar:",
                "zeroRecords": "Não foram encontrados resultados",
                "paginate": {
                    "first": "Primeiro",
                    "last": "Último",
                    "next": "Seguinte",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": ordem crescente",
                    "sortDescending": ": ordem decrescente"
                }
            }
        });

    });

</script>

{% endblock %}
