{% extends 'basy.html' %}
{% load custom_filters %}

{% block conteudo %}

<style>
    #tabela-listar td, #tabela-listar th {
        vertical-align: middle;
        text-align: center;
    }
</style>
<h3>Lista de Empresas - Risco 2</h3>
<div class="table responsive">
<table class="table table-striped" id="tabela-listar">
    <thead>
        <tr>
            <th>Razão</th>
            <th>MEI</th>
            <th>Alvará</th>
            <th>CNAE Principal</th>
            <th>Inspeção</th>
            <th>Meta</th>
            <th>Protocolo aberto - Fiscal</th>
        </tr>
    </thead>
    <tbody>
        {% for empresa in empresas %}
        <tr>
            <td><a href="{% url 'detalhe_empresa' empresa.id %}">{{ empresa.razao|capitalize_name }}</a></td>
            <td>{% if empresa.mei == False %} Não {% else %}Sim {% endif %}</td>
            <td>{% if empresa.alvara %}{{ empresa.alvara|date:"d/m/Y" }}{% else %}********{% endif %}</td>
            <td>{{ empresa.cnae_principal.codigo_cnae }} - {{ empresa.cnae_principal.descricao_cnae }}</td>
            <td>
                {% if empresa.inspecao_mais_recente %}
                    {{ empresa.inspecao_mais_recente|date:"d/m/Y" }}
                {% else %}
                    ********
                {% endif %}
            </td>
            <td>
                {% if empresa.inspecao_mais_recente %}
                    {% if empresa.inspecao_mais_recente.year == 2023 %}
                        <i class="fas fa-thumbs-up" style="color:green;"></i>
                    {% else %}
                        <i class="fas fa-thumbs-down" style="color:red;"></i>
                    {% endif %}
                {% else %}
                    <i class="fas fa-thumbs-down" style="color:red;"></i>
                {% endif %}
            </td>
            
            <td>
                <a href="{% url 'detalhe_empresa' empresa.id %}">
                {% if empresa.status_protocolo != 4 %}
                    {{ empresa.protocolo_aberto_fiscal|capitalize_name }}
                {% endif %}
                </a>
            </td>

        </tr>
    {% empty %}
        <tr>
            <td colspan="6">A tabela está vazia.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<div class="text-center mt-4">
    <a href="{% url 'listar_risco_dois_pdf' %}" target="_blank" class="btn btn-primary">
        <i class="fas fa-file-pdf"></i> Gerar PDF
    </a>
    </div>
{% endblock %}
