{% extends 'basy.html' %}
{% load static %}



{% block conteudo %}
<h3>Lista de Empresas

<a href="{% url 'criar_empresa' %}" class="btn btn-primary btn-sm">Adicionar empresa</a>
</h3>
<hr>
<div class="table responsive">
<table class="table table-striped" id="tabela-listar">
    <thead>
    <tr>
        <th style="text-align:center">Razão Social</th>
        <th style="text-align:center">CNPJ</th>
        <th style="text-align:center">Nome Fantasia</th>
        <th style="text-align:center">CNAE</th>
        <th style="text-align:center">Responsável Legal</th>
        <th style="text-align:center">Ações</th>
    </tr>
    </thead>
    <tbody>
    {% for empresa in empresas %}
    <tr>
        <td>{{ empresa.razao }}</td>
        <td>{% if empresa.cnpj %}{{ empresa.cnpj }}{% else %}{% endif %}</td>
        <td>
        {% if empresa.nome_fantasia %}
        {{ empresa.nome_fantasia }}{% else %}********{% endif %}</td>
        <td>{% for cnae in empresa.cnae.all %}
                        {{ cnae.codigo_cnae }} - {{ cnae.descricao_cnae }}{% if not forloop.last %}; {% endif %}
                        {% endfor %}</td>
        <td>{{ empresa.responsavel_legal }}</td>
        <td style="text-align:center; width: 170px">
            <a class="btn btn-primary" title="Detalhe" style="font-size: 11px; padding: 1px 4px; margin-right: 3px; text-align: center" href="{% url 'detalhe_empresa' empresa.id %}">Detalhes</a>
            <a class="btn btn-warning" title="Editar" style="font-size: 11px; padding: 1px 4px; margin-right: 3px; text-align: center" href="{% url 'editar_empresa' empresa.id %}">Editar</a>
            <a class="btn btn-danger" title="Excluir" style="font-size: 11px; padding: 1px 4px; margin-right: 3px; text-align: center" href="{% url 'excluir_empresa' empresa.id %}">Excluir</a>

        </td>
    </tr>
    {% empty %}
        <tr>
            <td colspan="6">Nenhum campo registrado.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

</div>
{% endblock %}
{% block scripts %}
<script>


    $(document).ready(function(){

        $("#tabela-listar").DataTable({
            responsive: true,
            // "bSort": false,
            "aaSorting": [],
            "pageLength": 50,
            "language": {
                "decimal": "",
                "emptyTable": "Sem dados disponíveis",
                "info": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "infoEmpty": "Mostrando de 0 até 0 de 0 registros",
                "infoFiltered": "(filtrado de _MAX_ registros no total)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ registros",
                "loadingRecords": "A carregar dados...",
                "processing": "A processar...",
                "search": "Procurar:",
                "zeroRecords": "Não foram encontrados resultados",
                "paginate": {
                    "first": "Primeiro",
                    "last": "Último",
                    "next": "Seguinte",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": ordem crescente",
                    "sortDescending": ": ordem decrescente"
                }
            }
        });

    });

</script>

{% endblock %}
