{% extends 'bases.html' %}
{% block extra_css %}
{% load static %}
<style>
    .chart-container {
        height: 550px;
        width: 85%;  /* Ajustado para 80% */
        margin: auto; /* Isso vai centralizar o contêiner */
    }
    .custom-table tr td, .custom-table tr th {
        height: 25px; /* Ajuste esse valor conforme a altura desejada */
        padding: 2px 8px; /* Ajuste o espaçamento interno das células */
    }
    h3 {
        margin-top: -35px; /* Ajuste esse valor conforme a quantidade de espaço que deseja remover */
    }
    h4 {
        margin-top: -35px; /* Ajuste esse valor conforme a quantidade de espaço que deseja remover */
    }
</style>
{% endblock %}
{% block conteudo %}
<div align="center"><h3>Comparativo de casos por semana epidemiológica</h3></div>
<div class="container-fluid">
    <div class="col-md-12">
        <label><input type="checkbox" id="positivosCheckbox" checked> Casos Positivos</label>
        <label><input type="checkbox" id="negativosCheckbox" checked> Casos Negativos</label>
        <label><input type="checkbox" id="totalCheckbox" checked> Total de Notificações</label>
        <div class="chart-container">
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/chart.js' %}"></script>
<script src="{% static 'js/chartjs-plugin-datalabels.js' %}"></script>
<script>
    const dadosPorAno = {{ dados_por_ano|safe }};
    const labels = Object.keys(dadosPorAno['positivos'][Object.keys(dadosPorAno['positivos'])[0]]);

    // Define as cores frias para os casos positivos
    const coresFrias = [
        'rgba(0, 137, 123, 1)',   // Tons de verde-azulado
        'rgba(3, 155, 229, 1)',   // Azul
        'rgba(38, 198, 218, 1)',  // Ciano
        'rgba(0, 172, 193, 1)',   // Azul celeste
        'rgba(77, 182, 172, 1)'   // Verde marinho
    ];
    const coresCinza = [
        'rgba(105, 105, 105, 1)',  // Cinza escuro
        'rgba(128, 128, 128, 1)',  // Cinza médio
        'rgba(169, 169, 169, 1)',  // Cinza claro
        'rgba(192, 192, 192, 1)',  // Cinza mais claro
        'rgba(211, 211, 211, 1)'   // Cinza quase branco
    ];

    // Define as cores quentes para os casos negativos
    const coresQuentes = [
        'rgba(255, 87, 34, 1)',   // Vermelho
        'rgba(255, 193, 7, 1)',   // Amarelo
        'rgba(255, 152, 0, 1)',   // Laranja
    ];

    // Função para gerar uma cor de fundo mais clara com base na cor da borda
    function corDeFundo(corBorda) {
        const cor = corBorda.match(/\d+/g).map(n => parseInt(n));
        cor[3] = '0.2'; // Ajusta a opacidade para a cor de fundo
        return 'rgba(' + cor.join(', ') + ')';
    }
    
    // Cria os datasets para casos positivos e negativos
    function criarDatasets(dados, cores, tipo) {
        return Object.entries(dados).map(([ano, dadosAno], index) => {
            const corBorda = cores[index % cores.length];
            return {
                label: `${tipo} ${ano}`,
                data: labels.map(label => dadosAno[label] || 0),
                borderColor: corBorda,
                backgroundColor: corDeFundo(corBorda),
                fill: false,
            };
        });
    }

    const datasetsPositivos = criarDatasets(dadosPorAno['positivos'], coresFrias, 'Casos Positivos');
    const datasetsNegativos = criarDatasets(dadosPorAno['negativos'], coresQuentes, 'Casos Negativos');
    const datasetsTotal = criarDatasets(dadosPorAno['total'], coresCinza, 'Total Notificações');

    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [...datasetsPositivos, ...datasetsNegativos, ...datasetsTotal]
        },
        options: {
            maintainAspectRatio: false,
            responsive: true,
            layout: {
                padding: {
                    top: 60, // Espaço no topo
                    bottom: 50 // Espaço na parte inferior para a legenda
                }
        },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        stepSize: 30
                    }
                }]
            },
            plugins: {
                datalabels: {
                    color: '#000',
                    display: function(context) {
                        return context.dataset.data[context.dataIndex] > 0;
                    },
                    anchor: 'end',
                    align: 'top',
                    offset: 5
                }
            },
            legend: {
            position: 'bottom', // Garante que a legenda está na parte inferior
            labels: {
                boxWidth: 20,
                padding: 20, // Espaço entre as legendas para evitar sobreposição
                fontSize: 12, // Pode ajustar o tamanho da fonte se necessário
                usePointStyle: true // Usa o estilo de ponto para a caixa da legenda
            }
        }
        }
    });

    function updateChart() {
        myChart.data.datasets.forEach((dataset) => {
            if (dataset.label.startsWith('Casos Positivos')) {
                dataset.hidden = !document.getElementById('positivosCheckbox').checked;
            } else if (dataset.label.startsWith('Casos Negativos')) {
                dataset.hidden = !document.getElementById('negativosCheckbox').checked;
            } else if (dataset.label.startsWith('Total Notificações')) {
                dataset.hidden = !document.getElementById('totalCheckbox').checked;
            }
        });
        myChart.update();
    }

    // Event listeners para os checkboxes
    document.getElementById('positivosCheckbox').addEventListener('change', updateChart);
    document.getElementById('negativosCheckbox').addEventListener('change', updateChart);
    document.getElementById('totalCheckbox').addEventListener('change', updateChart);
</script>
{% endblock %}
