{% extends 'bases.html' %}
{% load static %}
{% block conteudo %}
<div align="center"><h3>Boletim Dengue</h3></div>
<style>
    .custom-table {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .custom-table th {
        width: 50%;
    }
</style>
<form method="post" onsubmit="return validateForm()">
    {% csrf_token %}
    <label for="data_inicial">Data inicial:</label>
    <input type="text" id="data_inicial" name="data_inicial" class="form-control-sm mr-4" value="{{ data_inicial|date:'d/m/Y' }}">
    
    <label for="data_final">Data final:</label>
    <input type="text" id="data_final" name="data_final" class="form-control-sm mr-4" value="{{ data_final|date:'d/m/Y' }}">
    
    <button type="submit" class="btn btn-primary mb-2">Pesquisar</button>
</form>


{% if erro_msg %}
    <div class="alert alert-danger">
        {{ erro_msg }}
    </div>
{% endif %}

{% if total_notificacoes %}
<table class="table table-striped custom-table">
    <thead>
        <tr>
            <th>Motivo</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Casos positivos</td>
            <td>{{ total_casos_positivos }}</td>
        </tr>
        <tr>
            <td>Casos negativos</td>
            <td>{{ total_casos_negativos }}</td>
        </tr>
        <tr>
            <td>Aguardando (agendamento/coleta/resultado)</td>
            <td>{{ total_aguardando }}</td>
        </tr>
        <tr>
            <td>Falta/recusa/não agendado/inconclusivo</td>
            <td>{{ total_faltas_recusa }}</td>
        </tr>
        <tr>
            <td>Óbitos em investigação</td>
            <td>{{ total_obito_investigacao }}</td>
        </tr>
        <tr>
            <td>Óbitos pelo agravo</td>
            <td>{{ total_obito_agravo }}</td>
        </tr>
        <tr>
            <td>Internações</td>
            <td>{{ total_internacao }}</td>
        </tr>
        <tr>
            <td>Chikungunya</td>
            <td>{{ total_chikungunya }}</td>
        </tr>
        <tr>
            <td>Total de notificações no período</td>
            <td>{{ total_notificacoes}}</td>
        </tr>
    </tbody>
</table>
{% endif %}
{% endblock %}

{% block scripts %}
<script src="{% static 'js/jquery.mask.min.js' %}"></script>
<script>
$(document).ready(function() {
    $('#data_inicial').mask("00/00/0000");
    $('#data_final').mask("00/00/0000");
});

function isValidDate(dateString) {
    const regEx = /^\d{2}\/\d{2}\/\d{4}$/;
    return dateString.match(regEx) !== null;
}

function validateForm() {
    const dataInicial = document.getElementById('data_inicial').value;
    const dataFinal = document.getElementById('data_final').value;

    if (!isValidDate(dataInicial) || !isValidDate(dataFinal)) {
        alert('Formato de data inválido!');
        return false; // impede o envio do formulário
    }
    return true; // permite o envio do formulário
}
</script>
{% endblock %}
