{% extends 'bases.html' %}
{% load custom_filters %}
{% block conteudo %}
<style>
    h3 {
        margin-top: -25px; /* Ajuste esse valor conforme a quantidade de espaço que deseja remover */
    }
</style>

<h3 align="center">Casos abertos - {{ total_notificacoes }}</h3>


    <div class="table responsive">
<table class="table table-striped" id="tabela-listar" style="font-size: 11px;">
        <thead>
            <tr>

                <th style="vertical-align: middle;text-align: center">Nome</th>
                <th style="vertical-align: middle; text-align: center">Notificação</th>
                <th style="vertical-align: middle; text-align: center">Início de sintomas</th>
                <th style="vertical-align: middle; text-align: center">Semana epidemiológica</th>
                <th style="vertical-align: middle; text-align: center">SINAN</th>
                <th style="vertical-align: middle; text-align: center">Resultado</th>
                <th style="vertical-align: middle; text-align: center">Internação</th>
                <th style="vertical-align: middle; text-align: center">Óbito</th>
                <th style="vertical-align: middle; text-align: center">Agendamento</th>
                <th style="vertical-align: middle; text-align: center">Classificação</th>
                <th style="vertical-align: middle; text-align: center">Evolução</th>
                <th style="vertical-align: middle; text-align: center">Critério</th>
                <th style="vertical-align: middle; text-align: center">Observações</th>
                <th style="vertical-align: middle; text-align: center" >Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for notificacao in notificacoes %}
            <tr>
                <td style="vertical-align: middle;">{{ notificacao.nome|capitalize_name }}</td>
                <td style="text-align: center; vertical-align: middle;">{{ notificacao.data_notificacao|date:"d/m/Y" }}</td>
                <td style="text-align: center; vertical-align: middle;">{{ notificacao.data_inicio_sintomas|date:"d/m/Y" }}</td>
                <td style="text-align: center; vertical-align: middle;">{{ notificacao.semana_epidemiologica }}</td>
                <td style="text-align: center; vertical-align: middle;">{{ notificacao.sinan }}</td>
                <td style="text-align: center; vertical-align: middle;">{{ notificacao.resultado }}</td>
                <td style="text-align: center; vertical-align: middle;">{{ notificacao.internacao|date:"d/m/Y" }}</td>
                <td style="text-align: center; vertical-align: middle;">{{ notificacao.obito|date:"d/m/Y" }}</td>
                <td style="text-align: center; vertical-align: middle;">{{ notificacao.data_agendamento|date:"d/m/Y" }}</td>
                {% if notificacao.classificacao is not none %}
                <td style="text-align: center; vertical-align: middle;">{{ notificacao.classificacao }}</td>
                {% else %}
                <td style="vertical-align: middle;"></td>
                {% endif %}
                {% if notificacao.evolucao is not none %}
                <td style="text-align: center; vertical-align: middle;">{{ notificacao.evolucao }}</td>
                {% else %}
                <td style="vertical-align: middle;"></td>
                {% endif %}
                {% if notificacao.motivo_encerramento is not none %}
                <td style="text-align: center; vertical-align: middle;">{{ notificacao.motivo_encerramento }}</td>
                {% else %}
                <td style="vertical-align: middle;"></td>
                {% endif %}
                {% if notificacao.observacoes is not none %}
                <td style="vertical-align: middle;">{{ notificacao.observacoes }}</td>
                {% else %}
                <td style="vertical-align: middle;"></td>
                {% endif %}
                <td style="vertical-align: middle; text-align: center">
                    <a href="{% url 'encerrar_notificacao' notificacao.pk %}" class="btn btn-success" title="Encerrar" style="font-size: 11px; padding: 1px 4px; margin-right: 3px; text-align: center">Encerrar</a>
                    <a href="{% url 'detalhes_notificacao' notificacao.pk %}" class="btn btn-info" title="Detalhes" style="font-size: 11px; padding: 1px 4px;">Detalhes</a>
                    <a href="{% url 'editar_notificacao' notificacao.pk %}" class="btn btn-warning" title="Editar" style="font-size: 11px; padding: 1px 4px; margin-right: 3px; text-align: center">Editar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
{% block scripts %}
<script>


    $(document).ready(function(){

        $("#tabela-listar").DataTable({
            responsive: true,
            // "bSort": false,
            "aaSorting": [],
            "pageLength": 50,
            "language": {
                "decimal": "",
                "emptyTable": "Sem dados disponíveis",
                "info": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "infoEmpty": "Mostrando de 0 até 0 de 0 registros",
                "infoFiltered": "(filtrado de _MAX_ registros no total)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ registros",
                "loadingRecords": "A carregar dados...",
                "processing": "A processar...",
                "search": "Procurar:",
                "zeroRecords": "Não foram encontrados resultados",
                "paginate": {
                    "first": "Primeiro",
                    "last": "Último",
                    "next": "Seguinte",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": ordem crescente",
                    "sortDescending": ": ordem decrescente"
                }
            }
        });

    });

</script>

{% endblock %}

