{% extends 'bases.html' %}
{% load static %}
{% load custom_filters %}
{% block conteudo %}

<h4>Pacientes internados</h4>
{% if erro_msg and formulario_enviado %}  <!-- Adicionada a condição "and formulario_enviado" -->
    <div class="alert alert-danger">
        {{ erro_msg }}
    </div>
{% endif %}

<form class="form-inline" action="{% url 'internados' %}" method="get">
  <div class="form-group">
    <label class="mr-2">Semana</label>
    <input type="number" name="semana" placeholder="Exemplo 8" class="form-control-sm">
</div>
&#160;&#160;&#160;&#160;&#160;&#160;
<div class="form-group">
  <label class="mr-2">Ano</label>
  <input type="number" name="ano" placeholder="2023" class="form-control-sm">
</div>
&#160;&#160;&#160;&#160;
<button type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i>
  Pesquisar</button>
</form><br>

{% if tabela_notificacoes != None %}
<table class="table table-striped" id="tabela-listar" style="font-size: 11px;">
        <thead>
          <tr>

            <th style="vertical-align: middle;text-align: center">Nome</th>
            <th style="vertical-align: middle; text-align: center">Notificação</th>
            <th style="vertical-align: middle; text-align: center">Início de sintomas</th>
            <th style="vertical-align: middle; text-align: center">Semana epidemiológica</th>
            <th style="vertical-align: middle; text-align: center">SINAN</th>
            <th style="vertical-align: middle; text-align: center">Resultado</th>
            <th style="vertical-align: middle; text-align: center">Internação</th>
            <th style="vertical-align: middle; text-align: center">Óbito</th>
            <th style="vertical-align: middle; text-align: center">Agendamento</th>
            <th style="vertical-align: middle; text-align: center">Classificação</th>
            <th style="vertical-align: middle; text-align: center">Evolução</th>
            <th style="vertical-align: middle; text-align: center">Critério</th>
            <th style="vertical-align: middle; text-align: center">Observações</th>
            <th style="vertical-align: middle; text-align: center" >Ações</th>
        </tr>
        </thead>
        <tbody>
            {% for notificacao in tabela_notificacoes %}
            <tr>
              <td style="vertical-align: middle;">{{ notificacao.nome|capitalize_name }}</td>
              <td style="text-align: center; vertical-align: middle;">{{ notificacao.data_notificacao|date:"d/m/Y" }}</td>
              <td style="text-align: center; vertical-align: middle;">{{ notificacao.data_inicio_sintomas|date:"d/m/Y" }}</td>
              <td style="text-align: center; vertical-align: middle;">{{ notificacao.semana_epidemiologica }}</td>
              <td style="text-align: center; vertical-align: middle;">{{ notificacao.sinan }}</td>
              <td style="text-align: center; vertical-align: middle;">{{ notificacao.resultado }}</td>
              <td style="text-align: center; vertical-align: middle;">{{ notificacao.internacao|date:"d/m/Y" }}</td>
              <td style="text-align: center; vertical-align: middle;">{{ notificacao.obito|date:"d/m/Y" }}</td>
              <td style="text-align: center; vertical-align: middle;">{{ notificacao.data_agendamento|date:"d/m/Y" }}</td>
              {% if notificacao.classificacao is not none %}
              <td style="text-align: center; vertical-align: middle;">{{ notificacao.classificacao }}</td>
              {% else %}
              <td style="vertical-align: middle;"></td>
              {% endif %}
              {% if notificacao.evolucao is not none %}
              <td style="text-align: center; vertical-align: middle;">{{ notificacao.evolucao }}</td>
              {% else %}
              <td style="vertical-align: middle;"></td>
              {% endif %}
              {% if notificacao.motivo_encerramento is not none %}
              <td style="text-align: center; vertical-align: middle;">{{ notificacao.motivo_encerramento }}</td>
              {% else %}
              <td style="vertical-align: middle;"></td>
              {% endif %}
              {% if notificacao.observacoes is not none %}
              <td style="vertical-align: middle;">{{ notificacao.observacoes }}</td>
              {% else %}
              <td style="vertical-align: middle;"></td>
              {% endif %}
              <td style="vertical-align: middle; text-align: center">
                <a href="{% url 'encerrar_notificacao' notificacao.pk %}" class="btn btn-success" title="Encerrar" style="font-size: 11px; padding: 1px 4px; margin-right: 3px; text-align: center">Encerrar</a>
                <a href="{% url 'detalhes_notificacao' notificacao.pk %}" class="btn btn-info" title="Detalhes" style="font-size: 11px; padding: 1px 4px;">Detalhes</a>
                <a href="{% url 'editar_notificacao' notificacao.pk %}" class="btn btn-warning" title="Editar" style="font-size: 11px; padding: 1px 4px; margin-right: 3px; text-align: center">Editar</a>
            </td>
          </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% endblock %}


{% block scripts %}

<script src="{% static 'js/jquery.mask.min.js' %}"></script>
<script>
$(document).ready(function() {
        $('#motorista').mask("00/00/0000");
        $('#agendados').mask("00/00/0000");
});
</script>
{% endblock %}