{% extends 'bases.html' %}
{% load static %}
{% load custom_filters %}



{% block conteudo %}
{% if total_registros %}
<h4>Pesquisar paciente - Total {{ total_registros }} registros encontrados</h4>
{% else %}
<h4>Pesquisar paciente</h4>
{% endif %}

<form class="form-inline" action="{% url 'listar_casos_abertos' %}" method="get">
    <div class="form-group">
        <input type="text" name="q" id="q" value="{{ request.GET.q }}" class="form-control-sm mr-4">
    </div>

    <button type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i>
        Pesquisar</button>
</form>

<br>
{% if notificacoes %}
<div class="table responsive">
<table class="table table-striped" id="tabela-listar">
    <thead>
    <tr>
        <th style="text-align:center">Nome</th>
        <th style="text-align:center">Notificação</th>
        <th style="text-align:center">Início de sintomas</th>
        <th style="text-align:center">Sem. Epid.</th>
        <th style="text-align:center">SINAN</th>
        <th style="text-align:center">Resultado</th>
        <th style="text-align:center">Internação</th>
        <th style="text-align:center">Óbito</th>
        <th style="text-align:center">Agendamento</th>
        <th style="text-align:center">Observações</th>
        <th style="text-align:center">Encerrar</th>
    </tr>
    </thead>
    <tbody>
        {% for notificacao in notificacoes %}
    <tr>
        <td>{{ notificacao.nome|capitalize_name }}</td>
        <td style="text-align:center">{{ notificacao.data_notificacao|date:"d/m/Y" }}</td>
        <td style="text-align:center">{{ notificacao.data_inicio_sintomas|date:"d/m/Y" }}</td>
        <td style="text-align:center">{{ notificacao.semana_epidemiologica }}</td>
        <td style="text-align:center">{{ notificacao.sinan }}</td>
        <td>{{ notificacao.resultado }}</td>
        <td style="text-align:center">{{ notificacao.internacao|date:"d/m/Y" }}</td>
        <td style="text-align:center">{{ notificacao.obito|date:"d/m/Y" }}</td>
        <td style="text-align:center">{{ notificacao.data_agendamento|date:"d/m/Y" }}</td>
        {% if notificacao.observacoes is not none %}
            <td style="vertical-align: middle;">{{ notificacao.observacoes }}</td>
        {% else %}
            <td style="vertical-align: middle;"></td>
        {% endif %}
        
        <td style="text-align:center; width: 170px">
            <a class="btn btn-primary" title="Encerrar notificação" style="font-size: 11px; padding: 1px 4px; margin-right: 3px; text-align: center" href="{% url 'encerrar_notificacao' notificacao.pk %}">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
            </a>
        </td>
        
    </tr>
    {% empty %}
        <tr>
            <td colspan="11">Nenhum campo registrado.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

</div>
{% endif %}
{% endblock %}
{% block scripts %}
<script>


    $(document).ready(function(){

        $("#tabela-listar").DataTable({
            responsive: true,
            // "bSort": false,
            "aaSorting": [],
            "pageLength": 50,
            "language": {
                "decimal": "",
                "emptyTable": "Sem dados disponíveis",
                "info": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "infoEmpty": "Mostrando de 0 até 0 de 0 registros",
                "infoFiltered": "(filtrado de _MAX_ registros no total)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ registros",
                "loadingRecords": "A carregar dados...",
                "processing": "A processar...",
                "search": "Procurar:",
                "zeroRecords": "Não foram encontrados resultados",
                "paginate": {
                    "first": "Primeiro",
                    "last": "Último",
                    "next": "Seguinte",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": ordem crescente",
                    "sortDescending": ": ordem decrescente"
                }
            }
        });

    });

</script>

{% endblock %}
