{% extends 'bases.html' %}
{% block extra_css %}
{% load static %}
<style>
    .chart-container {
        height: 600px;
        width: 850px;
    }
    table tr {
    height: 50%;  /* ou você pode usar um valor em px, como '25px' */
}
</style>
{% endblock %}
{% block conteudo %}
{% if notificacoes %}
  <div class="text-center mt-3">
    <h4>
        Semanas {{ semana_menos_3 }}, {{ semana_menos_2 }}, {{ semana_menos_1 }} e {{ semana }} do ano de {{ ano }} - Total de {{ total_notificacoes }} notificações
    </h4>
    
  </div>
  {% else %}
  <h4>Notificações positivas por bairro nas últimas 4 semanas</h4>
{% endif %}

{% if erro_msg %}
    <div class="alert alert-danger">
        {{ erro_msg }}
    </div>
{% endif %}
<form class="form-inline" action="{% url 'positivos_bairros' %}" method="get">
  <div class="form-group">
    <label class="mr-2">Semana epidemiológica (em número)</label>
    <input type="number" name="semana" placeholder="Exemplo 8" class="form-control-sm">
</div>
&#160;&#160;&#160;&#160;&#160;&#160;
<div class="form-group">
  <label class="mr-2">Ano</label>
  <input type="number" name="ano" placeholder="2023" class="form-control-sm">
</div>
&#160;&#160;&#160;&#160;
<button type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i>
  Pesquisar</button>
</form><br>
{% if notificacoes %}
<div>
    <div class="row">
        <div class="col-md-4">
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Bairro</th>
                            <th>Quantidade</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for notificacao in notificacoes|slice:":20" %}
                        <tr style="height: 25px !important">
                            <td style="height: 25px !important">{{ notificacao.logradouro_paciente__bairro__nome_bairro }}</td>
                            <td style="height: 25px !important">{{ notificacao.quantidade }}</td>
                        </tr>
                        
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-8">
            <div class="chart-container">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
</div>
{% elif pesquisa_realizada %}
    <div class="alert alert-danger">
        Não há dados para o período pesquisado.
    </div>
{% endif %}
{% endblock %}
{% block scripts %}
<script src="{% static 'js/chart.js' %}"></script>
<script src="{% static 'js/chartjs-plugin-datalabels.js' %}"></script>
<script>
    // Função para criar o gráfico
    function createChart(labels, data, chartTitle) {
        const ctx = document.getElementById('myChart');
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Quantidade',
                    data: data,
                    backgroundColor: 'rgba(0, 0, 0, 1)',
                    borderColor: 'rgba(0, 0, 0, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                title: { 
                    display: true,
                    text: chartTitle,
                    fontSize: 20,
                    padding: 20
                },
                plugins: {
                    datalabels: {
                        color: '#000',
                        anchor: 'end',
                        align: 'top',
                        font: {
                            size: 20
                        },
                        formatter: function (value, context) {
                            return value;
                        }
                    }
                },
                legend: {
                    display: false
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            max: Math.max(...data) + 3
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            fontSize: 20
                        }
                    }]
                }
            }
        });
    }

    // Carregar os dados do Django para o gráfico
    const labels = [];
    const data = [];

    {% for notificacao in notificacoes|slice:":20" %}
        labels.push("{{ notificacao.logradouro_paciente__bairro__nome_bairro }}");
        data.push("{{ notificacao.quantidade }}");
    {% endfor %}

    // Define o título do gráfico
    const chartTitle = 'Notificações por bairros';

    createChart(labels, data, chartTitle);
</script>
{% endblock %}
