{% extends 'bases.html' %}
{% block extra_css %}
{% load static %}
<style>
    .chart-container {
        height: 400px;
        width: {% if termo_pesquisa and ano_pesquisa %}50{% else %}75{% endif %}%;
		
    }
</style>
{% endblock %}

{% block conteudo %}
{% if termo_pesquisa and ano_pesquisa %}
    <div align="center"><h3>Você pesquisou pelas últimas 4 semanas a partir da semana: "{{ termo_pesquisa }}" do ano {{ ano_pesquisa }}</h3></div>
{% endif %}
<br>

<form class="form-inline" action="{% url 'semana_epidemiologica' %}" method="get">
    <div class="form-group">
      <label class="mr-2">Semana epidemiológica (em número)</label>
      <input type="number" name="semana" placeholder="Exemplo 8" class="form-control-sm">
  </div>
  &#160;&#160;&#160;&#160;&#160;&#160;
  <div class="form-group">
    <label class="mr-2">Ano</label>
    <input type="number" name="ano" placeholder="2023" class="form-control-sm">
  </div>
  &#160;&#160;&#160;&#160;
  
  <button type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i>
    Pesquisar</button>&#160;&#160;&#160;&#160;
  
  
  </form><br>
  {% if notificacoes %}
    
    <div class="row mt-4">
        <div class="col-md-12 d-flex justify-content-center">
            <div class="chart-container">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
{% block scripts %}
<script src="{% static 'js/chart.js' %}"></script>
<script src="{% static 'js/chartjs-plugin-datalabels.js' %}"></script>
<script>
// Função para criar o gráfico
function createChart(labels, data, chartTitle) {
    const ctx = document.getElementById('myChart');
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Quantidade',
                data: data,
                backgroundColor: 'rgba(0, 138, 139, 1.2)',
                borderColor: 'rgba(0, 138, 139, 1.2)',
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            title: { // Está aqui, em vez de em plugins
                display: true,
                text: chartTitle,
                fontSize: 20,
                padding: 20
            },
            plugins: {
                datalabels: {
                    color: '#000',
                    anchor: 'end',
                    align: 'top',
                    font: {
                        size: 20
                    },
                    formatter: function (value, context) {
                        return value;
                    }
                }
            },
            legend: {
                display: false
            },
            scales: {
                y: [{
                    ticks: {
                        beginAtZero: true,
                        max: Math.max(...data) + 3
                    }
                }],
                x: [{
                    ticks: {
                        fontSize: 20 // Tamanho da fonte para os rótulos do eixo X
                    }
                }]
            }
        }
    });
}

    // Carregar os dados do Django para o gráfico
    const labels = [];
    const data = [];

    {% for notificacao in notificacoes %}
    labels.push("{{ notificacao.semana_epidemiologica__semana }}/{{ notificacao.semana_epidemiologica__ano }} ({{ notificacao.semana_epidemiologica__data_inicio_semana|date:"d/m" }} a {{ notificacao.semana_epidemiologica__data_fim_semana|date:"d/m" }})");
    data.push({{ notificacao.quantidade }});
    {% endfor %}

    // Define o título do gráfico com base na condição
    const chartTitle = {% if termo_pesquisa and ano_pesquisa %}"Notificações de dengue recebidas nas últimas 4 semanas epidemiológicas"{% else %}"Notificações de dengue por semanas epidemiológicas"{% endif %};

    createChart(labels, data, chartTitle);
</script>
{% endblock %}