{% extends 'bases.html' %}
{% block extra_css %}
{% load static %}
<style>
    .chart-container {
        height: 700px;
        width: {% if termo_pesquisa and ano_pesquisa %}20{% else %}80{% endif %}%;
    }
</style>
{% endblock %}
{% block conteudo %}
{% if termo_pesquisa %}
    <div align="center"><h3>{{ termo_pesquisa }} - Total {{ total_notificacoes }}</h3></div>
{% endif %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Categoria</th>
                            <th>Quantidade</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for notificacao in notificacoes|slice:":50" %}
                        <tr>
                            <td>{{ notificacao.categoria }}</td>
                            <td>{{ notificacao.quantidade }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-8">
            <div class="chart-container">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/chart.js' %}"></script>
<script src="{% static 'js/chartjs-plugin-datalabels.js' %}"></script>
<script>
    function createChart(labels, data, chartTitle) {
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: chartTitle,
                    data: data,
                    backgroundColor: 'rgba(0, 123, 255, 0.5)',
                    borderColor: 'rgba(0, 123, 255, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                plugins: {
                    datalabels: {
                        color: '#000',
                        anchor: 'end',
                        align: 'top',
                        offset: 10, // Ajuste conforme necessário para mover os rótulos para cima
                        font: {
                            weight: 'bold',
                            size: 14
                        },
                        formatter: function(value, context) {
                            return value;
                        }
                    }
                }
            }
        });
    }

    window.onload = function() {
        var labels = [];
        var data = [];
        {% for notificacao in notificacoes %}
            labels.push("{{ notificacao.categoria }}");
            data.push({{ notificacao.quantidade }});
        {% endfor %}
        createChart(labels, data, 'Notificações por Categoria');
    };
</script>


{% endblock %}
